

body{
    -moz-appearance: none; 
    -webkit-appearance: none;
    font-family: 'Lato', sans-serif;
}
.header{
    font-size: 4em; 
    font-weight: bold;
    background-color: aquamarine;
    padding: 20px;
}

.about{
background-color: whitesmoke;
border: black;
border-width: 1px;
padding: 20px;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 10px;
border-radius: 10px;
border-style: solid;
}

.bank_details{
background-color: bisque;
border: black;
border-width: 1px;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 20px;
border-radius: 10px;
padding: 20px;
border-style: solid;
}


.donation_text{
    background-color: whitesmoke;
    font-size: 25px; 
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    }

.highlight_text{
    font-weight: bold;
}

.highlight_text2{
    background-color: #2e2d2d;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
}
.secondary_text{
background-color: whitesmoke;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    border-width: 1px;
border-radius: 5px;
border-style: solid;
}